[run]
source = .
branch = True
omit = 
    */venv/*
    */__pycache__/*
    */testing/*
    */test_*.py
    */conftest.py
    */htmlcov/*
    */coverage/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
